# –¶–µ–ª—å –ª–∞–±–æ—Ä–∞—Ç–æ—Ä–Ω–æ–π —Ä–∞–±–æ—Ç—ã
–ò–∑—É—á–∏—Ç—å —Å–ª–æ–∂–Ω—ã–µ —Å–ø–æ—Å–æ–±—ã –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∏ –≤—ã–±–æ—Ä–∫–∏ –∏ –ø–æ–¥–±–æ—Ä–∞ –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ –Ω–∞ –ø—Ä–∏–º–µ—Ä–µ –º–µ—Ç–æ–¥–∞ –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π.

# –ó–∞–¥–∞–Ω–∏–µ
–¢—Ä–µ–±—É–µ—Ç—Å—è –≤—ã–ø–æ–ª–Ω–∏—Ç—å —Å–ª–µ–¥—É—é—â–∏–µ –¥–µ–π—Å—Ç–≤–∏—è:

1. –í—ã–±—Ä–∞—Ç—å –Ω–∞–±–æ—Ä –¥–∞–Ω–Ω—ã—Ö (–¥–∞—Ç–∞—Å–µ—Ç) –¥–ª—è —Ä–µ—à–µ–Ω–∏—è –∑–∞–¥–∞—á–∏ –∫–ª–∞—Å—Å–∏—Ñ–∏–∫–∞—Ü–∏–∏ –∏–ª–∏ —Ä–µ–≥—Ä–µ—Å–∏–∏.
2. –í —Å–ª—É—á–∞–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ—Å—Ç–∏ –ø—Ä–æ–≤–µ–¥–∏—Ç–µ —É–¥–∞–ª–µ–Ω–∏–µ –∏–ª–∏ –∑–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –ø—Ä–æ–ø—É—Å–∫–æ–≤ –∏ –∫–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤.
3. –° –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –º–µ—Ç–æ–¥–∞ train_test_split —Ä–∞–∑–¥–µ–ª–∏—Ç–µ –≤—ã–±–æ—Ä–∫—É –Ω–∞ –æ–±—É—á–∞—é—â—É—é –∏ —Ç–µ—Å—Ç–æ–≤—É—é.
4. –û–±—É—á–∏—Ç–µ –º–æ–¥–µ–ª—å –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π –¥–ª—è –ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–æ –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–∞ 
5. –û—Ü–µ–Ω–∏—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ —Å –ø–æ–º–æ—â—å—é —Ç—Ä–µ—Ö –ø–æ–¥—Ö–æ–¥—è—â–∏—Ö –¥–ª—è –∑–∞–¥–∞—á–∏ –º–µ—Ç—Ä–∏–∫.
6. –ü–æ—Å—Ç—Ä–æ–π—Ç–µ –º–æ–¥–µ–ª—å –∏ –æ—Ü–µ–Ω–∏—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ –º–æ–¥–µ–ª–∏ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏. –ü—Ä–æ–≤–µ–¥–∏—Ç–µ —ç–∫—Å–ø–µ—Ä–∏–º–µ–Ω—Ç—ã —Å —Ç—Ä–µ–º—è —Ä–∞–∑–ª–∏—á–Ω—ã–º–∏ —Å—Ç—Ä–∞—Ç–µ–≥–∏—è–º–∏ –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏.
7. –ü—Ä–æ–∏–∑–≤–µ–¥–∏—Ç–µ –ø–æ–¥–±–æ—Ä –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–∞ —Å –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ–º GridSearchCV –∏ –∫—Ä–æ—Å—Å-–≤–∞–ª–∏–¥–∞—Ü–∏–∏.
8. –°—Ä–∞–≤–Ω–∏—Ç–µ –∫–∞—á–µ—Å—Ç–≤–æ –ø–æ–ª—É—á–µ–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏ —Å –∫–∞—á–µ—Å—Ç–≤–æ–º –º–æ–¥–µ–ª–∏, –ø–æ–ª—É—á–µ–Ω–Ω–æ–π –≤ –ø—É–Ω–∫—Ç–µ 4.

# –•–æ–¥ –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è —Ä–∞–±–æ—Ç—ã
–ü–æ–¥–∫–ª—é—á–∏–º –≤—Å–µ –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –∏ –Ω–∞—Å—Ç—Ä–æ–∏–º –æ—Ç–æ–±—Ä–∞–∂–µ–Ω–∏–µ –≥—Ä–∞—Ñ–∏–∫–æ–≤:

In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import * 
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set(style ="ticks")


from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, r2_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.neighbors import KNeighborsRegressor, KNeighborsClassifier
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.impute import SimpleImputer, MissingIndicator
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler, StandardScaler, Normalizer

In [2]:
df = pd.read_csv('country_wise_latest.csv')

## –ü—Ä–µ–¥–≤–∞—Ä–∏—Ç–µ–ª—å–Ω–∞—è –ø–æ–¥–≥–æ—Ç–æ–≤–∫–∞ –¥–∞–Ω–Ω—ã—Ö

In [3]:
data = df.copy()

In [4]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [5]:
#–ö–æ–¥–∏—Ä–æ–≤–∞–Ω–∏–µ –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

df["WHO Region"] = df["WHO Region"].astype('category')
df["Country/Region"] = df["Country/Region"].astype('category')

#–ù–∞–∑–Ω–∞—á–∏—Ç—å –∑–∞–∫–æ–¥–∏—Ä–æ–≤–∞–Ω–Ω—É—é –ø–µ—Ä–µ–º–µ–Ω–Ω—É—é –Ω–æ–≤–æ—Å—É —Å—Ç–æ–ª–±—Ü—É —Å –ø–æ–º–æ—â—å—é –º–µ—Ç–æ–¥–∞ –¥–æ—Å—Ç—É–ø–∞
df["WHO Region_cat"] = df["WHO Region"].cat.codes
df["Country/Regioncat"] = df["Country/Region"].cat.codes

In [6]:
df = df.drop(['WHO Region', 'Country/Region', 'Deaths / 100 Recovered'], axis=1)

In [7]:
df.head()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Confirmed last week,1 week change,1 week % increase,WHO Region_cat,Country/Regioncat
0,36263,1269,25198,9796,106,10,18,3.50,69.49,35526,737,2.07,2,0
1,4880,144,2745,1991,117,6,63,2.95,56.25,4171,709,17.00,3,1
2,27973,1163,18837,7973,616,8,749,4.16,67.34,23691,4282,18.07,0,2
3,907,52,803,52,10,0,0,5.73,88.53,884,23,2.60,3,3
4,950,41,242,667,18,1,0,4.32,25.47,749,201,26.84,0,4

In [8]:
df.isna().sum()

Confirmed                0
Deaths                   0
Recovered                0
Active                   0
New cases                0
New deaths               0
New recovered            0
Deaths / 100 Cases       0
Recovered / 100 Cases    0
Confirmed last week      0
1 week change            0
1 week % increase        0
WHO Region_cat           0
Country/Regioncat        0
dtype: int64

In [9]:
df = df.dropna(axis=0)

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Confirmed,187.0,88130.935829,383318.663831,10.00,1114.000,5059.00,40460.500,4290259.00
Deaths,187.0,3497.518717,14100.002482,0.00,18.500,108.00,734.000,148011.00
Recovered,187.0,50631.481283,190188.189643,0.00,626.500,2815.00,22606.000,1846641.00
Active,187.0,34001.935829,213326.173371,0.00,141.500,1600.00,9149.000,2816444.00
New cases,187.0,1222.957219,5710.374790,0.00,4.000,49.00,419.500,56336.00
New deaths,187.0,28.957219,120.037173,0.00,0.000,1.00,6.000,1076.00
New recovered,187.0,933.812834,4197.719635,0.00,0.000,22.00,221.000,33728.00
Deaths / 100 Cases,187.0,3.019519,3.454302,0.00,0.945,2.15,3.875,28.56
Recovered / 100 Cases,187.0,64.820535,26.287694,0.00,48.770,71.32,86.885,100.00
Confirmed last week,187.0,78682.475936,338273.676567,10.00,1051.500,5020.00,37080.500,3834677.00
1 week change,187.0,9448.459893,47491.127684,-47.00,49.000,432.00,3172.000,455582.00
1 week % increase,187.0,13.606203,24.509838,-3.84,2.775,6.89,16.855,226.32
WHO Region_cat,187.0,1.962567,1.584091,0.00,0.000,2.00,3.000,5.00
Country/Regioncat,187.0,93.000000,54.126395,0.00,46.500,93.00,139.500,186.00

## –†–∞–∑–¥–µ–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
–†–∞–∑–¥–µ–ª–∏–º –¥–∞–Ω–Ω—ã–µ –Ω–∞ —Ü–µ–ª–µ–≤–æ–π —Å—Ç–æ–ª–±–µ—Ü –∏ –ø—Ä–∏–∑–Ω–∞–∫–∏:

–ü—Ä–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏–∏ –ø—Ä–µ–¥—Å–∫–∞–∑–∞—Ç–µ–ª—å–Ω—ã—Ö –º–æ–¥–µ–ª–µ–π –∏—Å—Ö–æ–¥–Ω—ã–µ –¥–∞–Ω–Ω—ã–µ –æ–±—ã—á–Ω–æ —Ä–∞–∑–±–∏–≤–∞—é—Ç—Å—è –Ω–∞ –æ–±—É—á–∞—é—â—É—é ("training set") –∏ –∫–æ–Ω—Ç—Ä–æ–ª—å–Ω—É—é ("test set") –≤—ã–±–æ—Ä–∫–∏. 
**–û–±—É—á–∞—é—â–∞—è –≤—ã–±–æ—Ä–∫–∞** –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –¥–ª—è –ø–æ—Å—Ç—Ä–æ–µ–Ω–∏—è –º–∞—Ç–µ–º–∞—Ç–∏—á–µ—Å–∫–∏—Ö –æ—Ç–Ω–æ—à–µ–Ω–∏–π –º–µ–∂–¥—É –Ω–µ–∫–æ—Ç–æ—Ä–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π-–æ—Ç–∫–ª–∏–∫–æ–º –∏ –ø—Ä–µ–¥–∏–∫—Ç–æ—Ä–∞–º–∏, —Ç–æ–≥–¥–∞ –∫–∞–∫ **–∫–æ–Ω—Ç—Ä–æ–ª—å–Ω–∞—è (= "–ø—Ä–æ–≤–µ—Ä–æ—á–Ω–∞—è")** –≤—ã–±–æ—Ä–∫–∞ —Å–ª—É–∂–∏—Ç –¥–ª—è –ø–æ–ª—É—á–µ–Ω–∏—è –æ—Ü–µ–Ω–∫–∏ –ø—Ä–æ–≥–Ω–æ–∑–Ω—ã—Ö —Å–≤–æ–π—Å—Ç–≤ –º–æ–¥–µ–ª–∏ –Ω–∞ –Ω–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö, —Ç.–µ. –¥–∞–Ω–Ω—ã—Ö, –∫–æ—Ç–æ—Ä—ã–µ –Ω–µ –±—ã–ª–∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω—ã –¥–ª—è –æ–±—É—á–µ–Ω–∏—è –º–æ–¥–µ–ª–∏.
–í –Ω–∞—à–µ–º —Å–ª—É—á–∞–µ –æ–±—É—á–∞—é—â–∞—è –≤—ã–±–æ—Ä–∫–∞ - —ç—Ç–æ Customers_Rated, –∞ –ø—Ä–æ–≤–µ—Ä–æ—á–Ω–∞—è - —ç—Ç–æ –≤—Å–µ –æ—Å—Ç–∞–ª—å–Ω—ã–µ –ø—Ä–∏–∑–Ω–∞–∫–∏, –∫–æ—Ç–æ—Ä—ã–µ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω–æ –º–æ–≥—É—Ç –≤–ª–∏—è—Ç—å –Ω–∞ —Ä–µ—à–µ–Ω–∏–µ –∫–ª–∏–µ–Ω—Ç–∞

In [11]:
y = df['WHO Region_cat']  #–ù–∞–∏–º–µ–Ω–æ–≤–∞–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
X = df.drop('WHO Region_cat', axis=1) # –ó–Ω–∞—á–µ–Ω–∏—è –ø—Ä–∏–∑–Ω–∞–∫–æ–≤

In [12]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25, random_state= 45)
# random_state –ø–æ–∑–≤–æ–ª—è–µ—Ç –∑–∞–¥–∞–≤–∞—Ç—å –±–∞–∑–æ–≤–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ –¥–ª—è –≥–µ–Ω–µ—Ä–∞—Ç–æ—Ä–∞ —Å–ª—É—á–∞–π–Ω—ã—Ö —á–∏—Å–µ–ª, —á—Ç–æ–±—ã —Å–¥–µ–ª–∞—Ç—å –≤—ã–±–æ—Ä–∫—É –Ω–µ—Å–ª—É—á–∞–π–Ω–æ–π

In [13]:
# –†–∞–∑–º–µ—Ä –æ–±—É—á–∞—é—â–µ–π –≤—ã–±–æ—Ä–∫–∏
X_train.shape, y_train.shape

((140, 13), (140,))

In [14]:
# –†–∞–∑–º–µ—Ä —Ç–µ—Å—Ç–æ–≤–æ–π –≤—ã–±–æ—Ä–∫–∏
X_test.shape, y_test.shape

((47, 13), (47,))

In [15]:
np.unique(y_train)

array([0, 1, 2, 3, 4, 5], dtype=int8)

In [16]:
np.unique(y_test)

array([0, 1, 2, 3, 4, 5], dtype=int8)

## –ú–æ–¥–µ–ª—å –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π –¥–ª—è –ø—Ä–æ–∏–∑–≤–æ–ª—å–Ω–æ –∑–∞–¥–∞–Ω–Ω–æ–≥–æ –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–∞ *K*
–ù–∞–ø–∏—à–µ–º —Ñ—É–Ω–∫—Ü–∏—é, –∫–æ—Ç–æ—Ä–∞—è —Å—á–∏—Ç–∞–µ—Ç –º–µ—Ç—Ä–∏–∫–∏ –ø–æ—Å—Ç—Ä–æ–µ–Ω–Ω–æ–π –º–æ–¥–µ–ª–∏:

In [17]:
#–ú–∞—Å—à—Ç–∞–±–∏—Ä–æ–≤–∞–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö
scaler = MinMaxScaler().fit(X_train)
X_train = pd.DataFrame(scaler.transform(X_train), columns = X_train.columns)
X_test = pd.DataFrame(scaler.transform(X_test), columns = X_train.columns)
X_train.describe()

,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Confirmed last week,1 week change,1 week % increase,Country/Regioncat
count,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000,140.000000
mean,0.024663,0.026513,0.033277,0.014361,0.027061,0.033696,0.034996,0.110149,0.658503,0.024485,0.026264,0.086341,0.492355
std,0.102483,0.105583,0.117467,0.087061,0.116545,0.127919,0.143011,0.125706,0.258571,0.101104,0.119959,0.106582,0.287452
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000268,0.000145,0.000354,0.000046,0.000084,0.000000,0.000000,0.033176,0.510100,0.000278,0.000215,0.033669,0.252703
50%,0.001724,0.000888,0.002101,0.000608,0.001172,0.000929,0.000904,0.078957,0.722700,0.001789,0.001188,0.055487,0.489189
75%,0.010953,0.007452,0.014351,0.003843,0.008361,0.005576,0.007790,0.145746,0.878550,0.011075,0.008507,0.108294,0.731081
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [18]:
def test_model(model):
    print("mean_absolute_error:",
          mean_absolute_error(y_test, model.predict(X_test)))
    print("mean_squared_error:",
          mean_squared_error(y_test, model.predict(X_test)))
    print("median_absolute_error:",
          median_absolute_error(y_test, model.predict(X_test)))
    print("r2_score:",
          r2_score(y_test, model.predict(X_test)))

–ü–æ–ø—Ä–æ–±—É–µ–º –º–µ—Ç–æ–¥ –±–ª–∏–∂–∞–π—à–∏—Ö —Å–æ—Å–µ–¥–µ–π —Å –≥–∏–ø–µ—Ä–ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º K = 10:

In [19]:
reg_10 = KNeighborsRegressor(n_neighbors=10)
reg_10.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=10)

In [20]:
test_model(reg_10)

mean_absolute_error: 1.4638297872340424
mean_squared_error: 2.862978723404256
median_absolute_error: 1.5
r2_score: -0.1419862766341642

1) mean_absolute_error: 1.463, —á–µ–º –±–ª–∏–∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫ –Ω—É–ª—é, —Ç–µ–º –ª—É—á—à–µ –∫–∞—á–µ—Å—Ç–≤–æ —Ä–µ–≥—Ä–µ—Å—Å–∏–∏.

2) mean_squared_error: 2.862, —á–µ–º –±–ª–∏–∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫ –Ω—É–ª—é, —Ç–µ–º –ª—É—á—à–µ –º–æ–¥–µ–ª—å

3) median_absolute_error: 1.5

4) r2_score: -0.14, —á–µ–º –±–ª–∏–∂–µ –∑–Ω–∞—á–µ–Ω–∏–µ –∫–æ—ç—Ñ—Ñ–∏—Ü–∏–µ–Ω—Ç–∞ –∫ 0, —Ç–µ–º —Å–ª–∞–±–µ–µ –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç—å, —Ç–æ –µ—Å—Ç—å —Ä–∞–∑–±—Ä–æ—Å –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π –º–æ–¥–µ–ª–∏  ùë¶ÃÇ   –æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ —Ä–∞–∑–±—Ä–æ—Å–∞ —Å–∞–º–æ–π —Ü–µ–ª–µ–≤–æ–π –ø–µ—Ä–µ–º–µ–Ω–Ω–æ–π  ùë¶  ) –¥–æ—Å—Ç–∞—Ç–æ—á–Ω–æ –≤–µ–ª–∏–∫ - —Ç–æ –µ—Å—Ç—å –º–æ–¥–µ–ª—å –ø–ª–æ—Ö–æ –æ–ø–∏—Å—ã–≤–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ.